:root {
    --main-color: lightblue;
    --secondary-color: rgb(201, 187, 178);
    --tertiary-color: rgb(228, 228, 228);
}

* {
    padding: 0px;
    margin: 0px;
}

svg {
    height: 30px;
    width: 30px;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 8vh;
    margin-bottom: 40px;
    padding: 0 125px 0 125px;
}

.header > h2 {
    grid-column: 2 / 4;
    align-self: center;
    justify-self: center;
    font-size: 2.25rem;
}

.add-book {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100px;
    width: 150px;
}

.add-book * {
    align-self: center;
    font-size: 1.5rem;
}

.main {
    margin: 0 100px 25px 100px;
    position: relative;
    padding: 0 100px 0 100px;
}

/* Add Book Modal & Form */
.add-book-form {
    display: grid;
    gap: 5px;
}

.modal-header {
    grid-row: 1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    font-size: 1rem;
    gap: 15px;
    align-items: center;
}

.modal-header > svg {
    grid-column: 2;
    justify-self: end;
}

.modal-container {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    padding: 20px;
    background-color: var(--main-color);
    width: 250px;
    height: 400px;
}

.form-item {
    gap: 10px;
    padding: 10px;
    align-items: left;
}

.form-item > input {
    padding: 5px;
    width: 200px;
}

/* Book Card Grid */
.book-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 50px;
    justify-self: center;
}

.book-card {
    display: grid;
    height: 250px;
    width: 200px;
    background-color: var(--secondary-color);
    padding: 20px;
    gap: 10px;
    align-items: center;
}

/* Read Status Slider */
.read-status-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.read-status {
    grid-column: 2;
    -webkit-appearance: none;
    position: relative;
    width: 80px;
    height: 30px;
    background-color: white;
    border-radius: 25px;
    transition: background .3s;
    outline: none;
    cursor: pointer;
}

.read-status::after {
    content: '';
    position: absolute;
    top: -15%;
    left: 20%;
    transform: translate(-50%, 50%);
    border-radius: 50%;
    height: 1.25rem;
    width: 1.25rem;
    background-color: gray;
    transition: left .3s;
}

.read-status:checked {
    background-color: rgb(80, 245, 80);
}

.read-status:checked::after {
    left: 80%;
}

/* Card Footer */
.card-footer {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.remove-book-button {
    height: 30px;
    width: 30px;
    grid-column: 1;
}

.checkmark-icon {
    grid-column: 2;
}